.buy .tingle-modal-box {
  width: 90%;
  max-width: calc(var(--text-max-width) + 96px);

  overflow: hidden;

  @media (max-width: 540px) {
    width: 100%;
  }
}

.buy .tingle-modal-box__content {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.buy .tingle-modal__close {
  display: none;
  @media (max-width: 540px) {
    display: block;
  }
}

.buy,
.buy p {
  color: var(--color-dark);

  @media (max-width: 540px) {
    font-size: var(--font-size_-1);
    text-align: center;
  }
}

.buy__title {
  font-size: var(--font-size_2);
  text-align: center;
  margin: 0 auto;

  @media (max-width: 540px) {
    font-size: var(--font-size_1);
  }
}

.buy p + p {
  margin-top: var(--font-size_1);
}

p.buy__warning {
  color: var(--color-warning);
}

.buy__qr-code {
  display: block;
  margin: 0 auto;
}

.buy__eth-adress {
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  justify-content: center;
  align-items: center;

  max-width: var(--text-max-width);
  margin: 0 auto var(--font-size_1) auto;

  background-color: #d9edf7;
  border: solid 1px #31708f;
  color: #31708f;

  font-weight: 600;

  @media (max-width: 600px) {
    font-size: var(--font-size_-2);
  }
}

.buy__eth-adress span {
  padding: var(--font-size_-2) 0;
  padding-left: 10px;
  @media (max-width: 700px) {
    padding-left: 0;
  }
}

.buy__copy-adress {
  height: 50px;
  flex: 0 0 50px;
  margin-left: auto;

  background-color: #31708f;
  border: 0 none;
  color: var(--color-white);

  cursor: pointer;

  @media (max-width: 700px) {
    flex: 0 0 100%;
  }
}

.buy__copy-adress:hover {
  background-color: var(--color-main);
}

.buy__copy-adress svg {
  width: 30px;
  height: 30px;
  color: inherit;
}

.buy__copy-adress path {
  fill: var(--color-white);
}

.buy__tab__input {
  display: none;
}

.buy__tab__label {
  order: 1;
  font-size: var(--font-size_1);

  width: 50%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #eee;
}

.buy__tab__label svg {
  height: 48px;
}

.buy__tab__tab {
  order: 2;
  display: none;
  flex: 0 0 100%;
  width: 100%;

  padding: 3rem;

  @media (max-width: 540px) {
    padding: var(--font-size_1);
  }
}

.buy__tab__input:checked + .buy__tab__label + .buy__tab__tab {
  display: block;
}

.buy__tab__input:checked + .buy__tab__label {
  background: #fff;
}

.buy__tab__tab table {
  width: 100%;
  margin: 1rem 0;
}

.buy__tab__tab table td {
  padding: 0.5rem 0;
}

.buy__tab__tab select,
.buy__tab__tab input {
  font-size: var(--font-size_0);
  border: solid 1px #31708f;
  border-radius: 5px;
  height: 30px;
  width: 100%;
}

.buy__tab__tab input {
  padding: 0 0.5em;
}

.buy__tab__tab input[type="image"] {
  width: auto;
  height: auto;
  border: 0 none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
