.partner__list {
  order: 3;
  width: 100%;
  max-width: calc(900px + var(--font-size_0) * 2);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  @media (--media-desktop) {
    justify-content: space-between;
  }
}

.partner {
  order: 1;
}

.partner__list::before,
.partner__list::after {
  content: "";
  order: 2;
}

.partner,
.partner__list::before,
.partner__list::after {
  height: 50px;
  width: 130px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-dark);

  margin-top: var(--font-size_5);
  margin-left: var(--font-size_0);
  margin-right: var(--font-size_0);

  box-shadow: 0 0 10px -3px transparent;
  transition: 0.5s box-shadow;
}

.partner:hover {
  box-shadow: 0 0 10px -3px var(--color-main);
}

.partner img {
  max-height: 80%;
  max-width: 80%;

  filter: grayscale(100%);
  transition: 0.5s filter;
}

.partner:hover img {
  filter: grayscale(0%);
}

/* == box decoration == */

.partner__list::before,
.partner__list::after {
  display: none;
}

/* @media (min-width: 376px) {
  .partner__list::before {
    display: flex;
  }
} */

@media (min-width: 538px) {
  .partner__list::before,
  .partner__list::after {
    display: flex;
  }
}

/* @media (min-width: 700px) {
  .partner__list::before {
    display: flex;
  }
} */

@media (min-width: 862px) {
  .partner__list::before {
    display: flex;
  }
}
