.partner__list {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.partner {
  margin-top: var(--font-size_5);
  margin-left: var(--font-size_1);
  margin-right: var(--font-size_1);
}

.partner img {
  max-height: 50px;
  max-width: 180px;
}
