.promo__info {
  text-align: center;
}

.promo__video {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: var(--font-size_4);

  box-shadow: 0 0 30px -10px var(--color-main);
}

.promo__video-wrapper {
  margin: 0;

  position: relative;
  padding-top: 56.25%;
}

.promo__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.promo__play {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: transparent;
  border: 0 none;
  outline: none;
  cursor: pointer;
}

.promo__rating-list {
  width: 100%;
  max-width: calc(900px + var(--font-size_0) * 2);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  @media (--media-desktop) {
    justify-content: space-between;
  }
}

.promo__rating {
  order: 1;
}

.promo__rating-list::before,
.promo__rating-list::after {
  content: "";
  order: 2;
}

.promo__rating,
.promo__rating-list::before,
.promo__rating-list::after {
  height: 50px;
  width: 130px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-dark);

  margin-top: var(--font-size_5);
  margin-left: var(--font-size_0);
  margin-right: var(--font-size_0);

  box-shadow: 0 0 10px -3px transparent;
  transition: 0.5s box-shadow;
}

.promo__rating:hover {
  box-shadow: 0 0 10px -3px var(--color-main);
}

.promo__rating img {
  max-height: 80%;
  max-width: 80%;

  filter: grayscale(100%);
  transition: 0.5s filter;
}

.promo__rating:hover img {
  filter: grayscale(0%);
}

/* == box decoration == */

.promo__rating-list::before,
.promo__rating-list::after {
  display: none;
}

@media (min-width: 486px) {
  .promo__rating-list::before,
  .promo__rating-list::after {
    display: flex;
  }
}

@media (min-width: 810px) {
  .promo__rating-list::before,
  .promo__rating-list::after {
    display: none;
  }
}
